*.pyc
*/*.jpg
uploads/tax.jpeg
pyimagesearch/__init__.py
node_modules
*.xml
*.html
.vscode
*.zip
*.txt
*.tsv
node-ocr/*.json
*.jpg
AnalysedDocumentBuilder.py
image_bounding_box.py
package-lock.json
tesseract_hocr.py
test.pdf
test.py
tsv_to_dict.py
node-ocr/{
node-ocr/~$draft.docx
node-ocr/console.log(m)
node-ocr/draft.docx
node-ocr/eng.traineddata
uploads/*
lib/*
bin/*
pyvenv.cfg
